html,body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: url("../image/img.jpg");
    background-size: cover;
}

* {
    font-family: cursive;
}

h1 {
    color: #3a8ee6;
}

main {
    /*background-color: gray;*/
    /*background-color: rgba(176,196,222,0.7);*/
    border-radius: 10% 10% 10% 10%;
    background-color: rgba(189,183,107,0.7);
    width: 60%;
    height: 70%;
}

#content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

input {
    padding-right: 6%;
    padding-bottom: 5%;
}

#content input {
    font-size: 20px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 9% 9% 9% 9%;
    border-color: #ff4b2b;
    border-width: 2px;
    border-style: solid;
}

#content button {
    font-size: 20px;
    width: 15%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    border-radius: 15% 15% 15% 15%;
}

a {
    margin-left: 20px;
}