html,body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: url("../image/img.jpg");
    background-size: cover;
    cursor: cell;
}

.uiFont {
    font-size: 19px;
}

header {
    position: absolute;
    margin-top: -500px;
}

h1 {
    font-family: cursive;
    color: #ff4d51;
}

h2 {
    font-family: cursive;
    color: #dd6161;
}

main {
    display: flex;
    justify-content: right;
    margin-right: 35px;
}

#content {
    width: 85%;
    height: 60%;
    text-align: right;
}

#dis {
    background: url("../image/img.png");
    background-size: cover;
    width: 220px;
    height: 130px;
    position: absolute;
    bottom: 0;
}
#yins {
    margin-right: 660px;
    margin-top: 100px;
}

#ccc {
    margin-top: 50px;
}