<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="../element-ui/element-ui.css">
    <link rel="stylesheet" href="../css/regist.css">
</head>
<body>
<header>
    <h1>一站式购物平台</h1>
    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;用户注册</h2>
</header>
<main>
    <div id="content">
        <a href="login.html">已有账号，开始登录</a>
        <div style="margin: 20px;"></div>
        <el-form :label-position="labelPosition" label-width="80px" :model="formLabelAlign">
            <el-row>
                <el-col :span="12">
                    <el-form-item label="手机号码" >
                        <el-input required="true" v-model="formLabelAlign.root"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="用户昵称">
                        <el-input required="true" v-model="formLabelAlign.username"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">
                    <el-form-item label="你的密码">
                        <el-input required="true" v-model="formLabelAlign.password"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="确认密码">
                        <el-input required="true" v-model="formLabelAlign.passwordQ"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="0">
                <el-col :span="12">
                    <el-form-item label="你的性别">
                        <el-radio-group v-model="formLabelAlign.sex" size="medium">
                            <el-radio border label="男"></el-radio>
                            <el-radio border label="女"></el-radio>
                        </el-radio-group>
                    </el-form-item>
                </el-col>

                    <el-col :span="9">
                        <el-form-item label="真人检测">
                            <el-input required="true" v-model="formLabelAlign.real"></el-input>
                        </el-form-item>
                    </el-col>

                    <el-col :span="2">
                        <el-button @click="SendMessage" type="primary">发送验证码</el-button>
                    </el-col>


            </el-row>
            <el-checkbox id="yins" v-model="agree" size="medium">我已同意<a href="./yinsi.html">隐私协议</a> </el-checkbox>
            <el-button id="btn" type="primary" @click="commitTo">注册</el-button>
        </el-form>
    </div>
</main>
<div id="dis"></div>
</body>
<script src="../vue/vue.js"></script>
<script src="../element-ui/element-ui.js"></script>
<script src="../axios/axios.js"></script>
<script src="../JavaScript/regist.js"></script>
</html>